body {
    margin: 0px;
    padding: 0px;
}
#map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
/*
#map-canvas{
    margin-top: 50px;
    height: 50%;
    width: 50%;
    margin: 0px;
    padding: 0px;
}*/
.marker{
    width: 100px;
    height: 100px;
}
.menu_lateral {
    margin-top: 200px;
    padding: 15px;
    background-color: #222;
    border-color: #080808;
    height: 100%;
}
.input-group{
    margin: 10px 0;
}
.btn-link {
    color: #47a447;
}
a {
    color: #47a447;
}

.ladda-button[data-style=contract-overlay]{
    width: 100%;
}

.panel-group {
    margin-top: 50px;

}

.contentInfo {
    width: 200px;
    height: 200px;

}
.padding1{
    padding: 2em;
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#formulario > input,#formulario > textarea,#formulario > select {
    color: white;
    margin: 0.5em;
    background-color: rgba(26, 126, 30, 0.3);
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#formulario > button{
    border-radius: 0px;
}
.myAlert{
    margin-top: 1em;
}
.load{
    z-index: 1001;
}
.button-modify{
    background-color: #446e9b;
}
.formulario > input, .formulario > textarea, .formulario > select {
    color: white;
    margin: 0.5em;
    background-color: rgba(26, 126, 30, 0.3);
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.tablet-hidden{
    visibility: visible;
}
.button-menu{
    z-index: 1002;
}
.button1{
    border-radius: 0px;
    margin-top: 2.5em;
    margin-right: 2em;
    color: #446e9b; 
    visibility: hidden;
    text-shadow: 0;
}
.button2{
    border-radius: 0px;
    color: #FFFFFF; 
    visibility: hidden;
    text-shadow: 0;
}
.panel2{
    display:none;
}
@media (max-width: 1000px) {
    .tablet-hidden{
        display: none;
    }
    .button1{
        visibility: visible;
    }
    .button2{
        visibility: visible;
    }
    .panel2{
        display: inline-block;
    }
   
}
