body {
    margin: 0px;
    padding: 0px;
}
#map_canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
.content {
    margin-top: 50px;
}
.menu_lateral {
    margin-top: 200px;
    padding: 15px;
    background-color: #222;
    border-color: #080808;
    height: 100%;
}
.input-group{
    margin: 10px 0;
}
.btn-link {
    color: #47a447;
}
a {
    color: #47a447;
}

