body {
    margin: 0px;
    padding: 0px;
}
#map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
/*
#map-canvas{
    margin-top: 50px;
    height: 50%;
    width: 50%;
    margin: 0px;
    padding: 0px;
}*/
.marker{
    width: 100px;
    height: 100px;
}
.menu_lateral {
    margin-top: 200px;
    padding: 15px;
    background-color: #222;
    border-color: #080808;
    height: 100%;
}
.input-group{
    margin: 10px 0;
}
.btn-link {
    color: #47a447;
}
a {
    color: #47a447;
}

.ladda-button[data-style=contract-overlay]{
    width: 100%;
}

.panel-group {
    margin-top: 50px;
}

.contentInfo {
    width: 200px;
    height: 200px;
		
}
